<div class="mt-5">
    <div class="jumbotron shadow text-secondary text-center rounded border border-danger">
        <h1 class="display-4 font-weight-bold text-danger">ERROR: 404</h1>
        <p class="lead text-dark">The page you looking for doesnt exist or isnt available.</p>
        <hr class="my-4">
        <a class="btn btn-primary rounded-pill btn-danger btn" href="{{baseUrl}}" role="button">Back to work!</a>
    </div>
</div>